html {
	font-size: 62.5%;
}
body {
	box-sizing: border-box;
	background-color: pink;
	font-family: 'Abril Fatface', cursive;
	font-size: 3rem;
}
h1, h2, h6, main, .keyboard {
	margin: 0 auto;
	text-align: center;
}
h1 {
	width: 80%;
	font-family: 'Abril Fatface', cursive;
	font-size: 5rem;
}
h2 {
	width: 50%;
	font-family: 'Poiret One', cursive;
	font-size: 4rem;
}
h6 {
	width: 50%;
	font-family: 'Poiret One', cursive;
	font-size: 2rem;
}
div {
	width: 3rem;
	font-size: 3.5rem;
	display: inline-block;
	margin-left: 8px;
}
main {
	width: 90%;
	padding: 0;
	margin: 0 auto;
}
button {
	width: 4rem;
	height: 4rem;
	font-family: 'Abril Fatface', cursive;
	font-size: 2rem;
	margin: 3px;
	border-radius: 1.5rem;
	border: 2px solid gray;
}
button:hover, #reset:hover, #enter:hover {
	background-color: lightblue;
}
button:focus {
	outline:0;
}
input {
	width: 90%;
	margin: 0 auto;
}
input:focus {
	outline: 0;
}
.hiddenFont {
	font-size: 0;
}
.hidden {
	display: none;
}
/*.box {
	width: 30rem;
	height: 9rem;
	border: 2px solid black;
	margin: 0 auto;
	display: none;
}*/
.flower {
	width: 60%;
	margin-bottom: 0;
}
.keyboard {
	width: 80%;
}
.resetAndEnter {
	width: 20%;
	margin: auto 2rem auto 1rem;
	text-align: center;
	display: flex;
	flex-direction: column;

}
#reset, #enter {
	width: 20rem;
	height: 4rem;
	font-family: 'Poiret One', cursive;
	margin: 1rem 0;
	padding: 1rem;
	border-radius: 1rem;
	font-weight: bold;
	font-size: 2rem;
	border: 2px solid grey;
}
.container {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0;
}
.reveal {
	font-family: 'Abril Fatface', cursive;
}

