body {
	box-sizing: border-box;
	background-color: pink;
	font-family: 'Abril Fatface', cursive;
	font-size: 30px;
}
h1, h2, h6, main, .keyboard {
	margin: 0 auto;
	text-align: center;
}
h1 {
	width: 80%;
	font-family: 'Abril Fatface', cursive;
	font-size: 50px;
}
h2 {
	width: 50%;
	font-family: 'Poiret One', cursive;
	font-size: 40px;
}
h6 {
	width: 50%;
	font-family: 'Poiret One', cursive;
	font-size: 20px;
}
div {
	width: 30px;
	font-size: 35px;
	display: inline-block;
	margin-left: 8px;
}
main {
	width: 90%;
	padding: 0;
	margin: 0 auto;
}
button {
	width: 40px;
	height: 40px;
	font-family: 'Abril Fatface', cursive;
	font-size: 20px;
	margin: 3px;
	border-radius: 15px;
	border: 2px solid gray;
}
button:hover, #reset:hover, #enter:hover {
	background-color: lightblue;
}
input {
	width: 90%;
	margin: 0 auto;
}
.hidden {
	font-size: 0;
}
.hideImg {
	display: none;
}
.box {
	width: 80%;
	height: 90px;
	border: 2px solid black;
	margin: 0 auto;
}
.flower {
	width: 60%;
	margin-bottom: 0;
}
.keyboard {
	width: 100%;
}
.resetAndEnter {
	width: 20%;
	margin: auto 20px auto 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 20%;
	left: 65%;
}
#reset, #enter {
	width: 200px;
	height: 40px;
	font-family: 'Poiret One', cursive;
	margin: 10px 0;
	padding: 10px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 20px;
	border: 2px solid grey;
}
.container {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0;
}

