body {

}

.hidden {
	font-size: 0;
}
.box {
	width: 300px;
	height: 300px;
	border: 2px solid black;
}
div {
	width: 10px;
	font-size: 30px;
	display: inline-block;
	margin-left: 2px;
	border-bottom: 1px solid black;
}